<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-in-progress">In Progress</div>
        <div class="panel-body panel-todo-container">
          <div id="notCompleted" class="col-sm-12 todo-container" droppable drop="ctrl.handleDrop" container="container">
            <todo-item item="item"
              delete="ctrl.delete"
              update="ctrl.update"
              save="ctrl.save"
              ng-repeat="item in ctrl.items | filter: { status: 'notCompleted' } : true | filter:search:strict track by item._id"/></todo-item>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center add-todo-item">
              <button class="btn btn-primary" ng-click="ctrl.add();">Add new item</button>
            </div>
          </div>
        </div>
    </div>

  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-completed">Completed</div>
        <div class="panel-body panel-todo-container">
          <div id="completed" class="col-sm-12 todo-container" droppable drop="ctrl.handleDrop" container="container">
            <todo-item item="item"
              delete="ctrl.delete"
              update="ctrl.update"
              save="ctrl.save"
              ng-repeat="item in ctrl.items | filter: { status: 'completed' } : true | filter:search:strict track by item._id"/></todo-item>
            </div>
        </div>
    </div>
  </div>
</div>
