<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-in-progress">In Progress</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                  AAA
                </div>
            </div>
        </div>
    </div>

  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-completed">Completed</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                  BBB
                </div>
            </div>
        </div>
    </div>

  </div>
</div>
