body {
  padding-top: 70px;
}

.jasmine_html-reporter {
  display: none;
  margin-left: 15px;
  margin-right: 15px;
}

.tests-page .jasmine_html-reporter {
  display: block !important;
}

iframe, object, embed {
    max-width: 100%;
    width: 95%;
    position: absolute;
    height: 85%;
    border: none;
}

/*For Todo's panels heading*/
.panel > .panel-heading-in-progress {
  background: rgb(255, 187, 51);
  border: rgb(255, 187, 51);
  color: #fff;
}

.panel > .panel-heading-completed {
  background: rgb(0, 200, 81);
  border: rgb(0, 200, 81);
  color: #fff;
}
